.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 360px;
    background-color: black;
}
.right-container{
    width: 384px;
    height: 360px;
}
.left-container{
    width : 256px;
    height: 360px;
}
.equipment-grid{
    width : 256px;
    height : 300px;
}
.item-info{
    width: 256px;
    height: 60px;
}