.root{
	width: 640px;
	flex-direction: row;
	justify-content: flex-start;
	height: 360px;
	background-color: blue;
}
.left{
	width: 256px;
	height: 360px;
	background-color: green;
}
.right{
	width: 384px;
	height: 360px;
	background-color: red;
	
}